<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Card name</th>
        <th>Player class</th>
        <th>Set</th>
        <th>Rarity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="#card of cards; #i = index">
        <td>{{ i + 1 }}</td>
        <td>
            <a [routerLink]="['Details', {id: card.cardId}]">
                {{ card.name }}
            </a>
        </td>
        <td>{{ card.playerClass }}</td>
        <td>{{ card.cardSet }}</td>
        <td>{{ card.rarity }}</td>
    </tr>
    </tbody>
</table>