<form [ngFormModel]="nameForm"
      (ngSubmit)="nameForm.valid && searchCard(nameForm.value.name)">
    <div class="form-group has-feedback"
         [class.has-error]="!name.valid && name.touched">
        <label class="control-label">Search by name</label>
        <input class="form-control"
               type="text"
               placeholder="for example 'Ysera'"
               [ngFormControl]="name"/>
    </div>
    <div *ngIf="!name.valid && name.touched" class="error-label">Name is required</div>
    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Search by name</button>
    </div>
</form>